@model Natura.ViewModels.ProductoViewModel

@{
    ViewBag.Title = "Detalles";
}

<h2>Details</h2>

<div>
    <h4>Productos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.Nombre)
        </dd>

        <dt>
            Codigo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            Categoria
        </dt>
        
        <dd>
            @Html.DisplayFor(model => model.NombreCategoria)
        </dd>

        <dt>
            Linea
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreLinea)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdProducto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
